<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS Pagination</title>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <% data.forEach(entry=> { %>
    <h1>
        <%= entry.title %>
    </h1>
    <p>
        <%= entry.url %>
    </p>
    <% }) %>

    <div class="break"></div>

    <!--Display the links to the pages-->

    <% if(page - 1 == 1) { %> <%# Segunda página %>
    <a href="/?page=<%=page-1%>">&lt;</a>
    <% } else if(page > 1) { %> <%# Da terceira até a última página %>
    <a href="/?page=<%=page-200%>">&lt;&lt;</a>
    <a href="/?page=<%=page-1%>">&lt;</a>
    <% } %>

    <% for(let i=iterator; i <=endingLink; i++) { %>
    <% if(i===page) { %>
    <a class="selectedLink nodecoration" href="/?page=<%=i%>">
        <%=i%>
    </a>
    <% continue; %>
    <% } %>
    <a href="/?page=<%=i%>" class="nodecoration">
        <%=i%>
    </a>
    <% } %>
    <% if(page + 1 == numberOfPages) { %> <%# Penúltima página %>
    <a href="/?page=<%=page+1%>">&gt;</a>
    <% } else if(page < numberOfPages) { %> <%# Dá primeira até a antepenultima %>
    <a href="/?page=<%=page+1%>">&gt;</a>
    <a href="/?page=<%=page+200%>">&gt;&gt;</a>
    <% } %>
</body>

</html>